.Header {
  color:purple;
  text-align: center;
}

.bigContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}
img {
  width: 368px;
  height: 352px;
}
img:hover {
  transform: scale(1.25);
  transition: all 0.3s;
}
.img {
  /* object-fit: cover; */
  overflow: hidden;
  border-radius: 15px;
}
.info {
  font-size: 1.2rem;
  margin-top: -1rem;
}
